.redMessage {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.greenMessage {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blog {
    font-size: 20px;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    padding: 5px;
    margin-bottom: 5px;
}