.redMessage {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.greenMessage {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blog {
    font-size: 20px;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 5px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-radius: 4px;
    border-color: darkgreen;
    background-color: green;
    margin: 1px;
    color: white;
    text-shadow: 1px 1px black;
}

button:hover {
    box-shadow: 1px 1px black;
    color: black;
    text-shadow: none;
}

button.delete {
    border-color: darkred;
    background-color: red;
}

button.hide {
    border-color: darkgrey;
    background-color: grey;
}